body {
    margin: 0px;
}

h3 {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 20px;
    color: red;
}

.header {
    background-color: black;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    float: right;
    margin-right: 5%;
    color: white;
}

.container {
    margin-top: 120px;
    padding: 20px;
    text-align: center;
}

.outputMessage {
    text-align: center;
}

.input {
    margin-bottom: 15px;
    width: 200px;
    height: 20px;
}


/*-------------------------------------*/

.Qns-container {
    padding-left: 50px;
    margin-top: 120px;
}

.option {
    margin-left: 20px;
}