body {
    margin: 0px;
}

h3 {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 20px;
    color: red;
}

.header {
    background-color: black;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    float: right;
    margin-right: 5%;
    color: white;
}

.container {
    margin-top: 120px;
    padding: 20px;
    text-align: center;
}

h2 {
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 50px;
}

.outputMessage {
    text-align: center;
}

.input,
#input,
#inputTwo {
    margin-bottom: 15px;
    width: 200px;
    height: 20px;
}

#btnFinish {
    margin-bottom: 100px;
}


/*-------------------------------------*/

.Qns-container {
    padding-left: 50px;
    margin-top: 120px;
}

.option {
    margin-left: 20px;
}

.output {
    text-align: center;
    margin-bottom: 30%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding-left: 35%;
    padding-right: 35%;
    background-color: black;
    padding-bottom: 15px;
    padding-top: 10px;
}

.links {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: red;
}